**.orig
**.swp
**.war
*.orig
*.rbc
*.sassc
*~
.DS_Store
.env
.idea
.powenv
.redcar/
.rspec
.sass-cache
.zeus.sock
/*.tmproj
/.bundle
/cache
/capybara*
/capybara-*.html
/config/config.yml
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/gems
/log
/log/*
/nbproject/
/public/cache
/public/stylesheets/compiled
/public/system
/public/system/*
/spec/tmp
/spec/tmp/*
/specifications
/tmp
/tmp/*
/vendor/bundle/
/vendor/ruby/
capybara-*.html
config/initializers/secret_token.rb
config/secrets.yml.key
config/secrets.yml
db/*.sqlite3
pickle-email-*.html
rerun.txt
