<div class="card">
	<div class="card-header tools">
		<h4><i class="fa fa-dashboard" aria-hidden="true"></i> Tools</h4>
	</div>
	<div class="card-body text-center" id="cardTools">
		<form class="trade form-inline justify-content-center">
			<div class="row" style="white-space:nowrap;">
				<div class="col">
					<div class="calcInput" id="currencyCalc" style="white-space:nowrap;">BTC-COIN</div>
				</div>
				<div class="col">
					<input type="text" id="trUnits" class="form-control form-control-sm" placeholder="Units">
				</div>
				<div class="col">
					<input type="text"  id="trBid" class="form-control form-control-sm" placeholder="Bid">
				</div>
				<div class="col">
					<button type="button" class="btn btn-success btn-sm">Sell</button>
				</div>
				<div class="col">
					<button type="button" class="btn btn-danger btn-sm">Buy</button>
				</div>
			</div>
		</form>
	</div>
	<div class="card-footer text-center">
			<p> </p>
	</div>
</div>
